<html>
  <head>
    <title>Restaurant POS</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">

  </head>
  <body>

    <!-- <button type="button" name="place_order">Place Order</button> -->


    <div id="wrapper">
      <div class="colum" id="nav" ></div>

      <div id="party-list" class="colum"></div>
      <div class="colum" id="menu-list"></div>
      <div class="colum" id="order-list"><h1>Orders</h1></div>
    </div>



    <!-- ****** JS Libraries ****** -->
   <script src='/javascripts/lib/jquery.js'></script>
   <script src='/javascripts/lib/underscore.js'></script>
   <script src='/javascripts/lib/backbone.js'></script>

   <!-- ****** Backbone Models ****** -->
   <script src='/javascripts/models/FoodModel.js'></script>
   <script src='/javascripts/models/PartyModel.js'></script>

   <!-- ****** Backbone Collection ****** -->
   <script src='/javascripts/collections/FoodCollection.js'></script>
   <script src='/javascripts/collections/PartyCollection.js'></script>

   <!-- ****** Backbone Views ****** -->
   <script src='/javascripts/views/foodView.js'></script>
   <script src='/javascripts/views/partyView.js'></script>
   <script src='/javascripts/views/generalListView.js'></script>

   <!-- ****** JS Application ****** -->
   <script src='/javascripts/app.js'></script>

  </body>
</html>
