<html>
  <head>
    <title>Restaurant POS</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">

  </head>
  <body>

    <button type="button" name="place_order">Place Order</button>


    <div id="wrapper">
      <div class="colum" id=nav></div>
      <div class="colum"></div>
      <div class="colum"></div>
    </div>
  </body>
</html>
